/* =============
    Newsletter
============= */
/* =============
    Mixins
============= */
/* =============
    Variables
============= */
:root {
  --black: #000000;
  --white: #ffffff;
  --white80: #ffffff80;
  --ghost: #f0faff;
  --grey: #9090A7;
  --nightblue: #060640;
  --aqua: #00E5CC;
  --snowdrop: #F9FDFF;
  --lilywhite: #ECF9FF;
  --jaguar: #000020;
}

/* ---------------- Font Sizing ---------------- */
html {
  font-size: 100%;
}

/* ---------------- Media Queries ---------------- */