/* =============
    About
============= */
@use "../helpers";

#about{
    background-color: var(--white);

    #about-container{
          .about1{
            img{
                background-color: var(--white);
            }
            // h1{
            //     color: var(--nightblue);
            // }
            p{
                color: var(--grey);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
                font-size: helpers.rem-calc(16);
            }
          }

          .about2{
            img{
                background-color: var(--lilywhite);
            }
            h4{
                color: var(--nightblue);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
                font-size: helpers.rem-calc(20);
            }
            p{
                color: var(--grey);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
                font-size: helpers.rem-calc(16);
            }
          }

          .about3{
            img{
                background-color: var(--lilywhite);
                font-weight: 600;
                line-height: helpers.rem-calc(12.2);
                font-size: helpers.rem-calc(9);
            }
            h4{
                color: var(--nightblue);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
                font-size: helpers.rem-calc(20);
            }
            p{
                color: var(--grey);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
                font-size: helpers.rem-calc(16);
            }
          }

    }
      
}