/* =============
    Communication
============= */
@use "../helpers";

#communication{
    background-color: var(--white);

    h1{
        color: var(--nightblue);
    }

    P{
        color: var(--grey);        
    }
}