/* =============
    Communication
============= */
@use "../helpers";

#communication{
    background-color: var(--white);

    // h1{
    //     color: var(--nightblue);
    // }

    P{
        color: var(--grey);   
        font-weight: 600;
        line-height: helpers.rem-calc(28);     
    }
}