/* =============
    Process
============= */
@use "../helpers";

#process {
    background-color: var(--white);
    padding:  110px 24px;
    

    @include helpers.md{
        padding: 110px 120px;
    }

    @include helpers.lg{
        padding: 110px 120px;
    }
   
    img{
        display: block;
        margin: 0 auto;
    }

    h1{
        text-align: center;
    }

    p{
        color: var(--grey);
        text-align: center;
        font-weight: 600;
        line-height: helpers.rem-calc(28);
    }

    #package-container{
        padding: 24px 24px;

        @include helpers.md{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "pac1 pac2 pac3"
                                 
        }

        @include helpers.xl{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "pac1 pac2 pac3"
            
        }

        .package1{
            background-color: var(--white);
            padding: 30px;
            

            img {
                background-color: var(--lilywhite);
                padding: 10px;
                margin-bottom: 50px;
                display: inline-block; // Reset display to inline-block or default
                
            }

            h4{
                color: var(--nightblue);
                font-weight: 600;
                line-height: helpers.rem-calc(34);
                font-size: helpers.rem-calc(24);
                margin-bottom: 10px;

            }

            p{
                color: var(--grey);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
                margin-bottom: 54px;
            }
        }

        .package2{
            background-color: var(--white);
            // margin-top: 24px;
            margin-bottom: 24px;
            padding: 30px;
            

            img {
                background-color: var(--lilywhite);
                margin-bottom: 50px;
                padding: 10px;
                display: inline-block
            }

            h4{
                color: var(--nightblue);
                font-weight: 600;
                line-height: helpers.rem-calc(34);
                font-size: helpers.rem-calc(24);
                margin-bottom: 10px;

            }

            p{
                color: var(--grey);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
                margin-bottom: 54px;
            }
        }

        .package3{
            background-color: var(--white);
            padding: 30px;
            

            img {
                background-color: var(--lilywhite);
                margin-bottom: 50px;
                padding: 10px;
                display: inline-block
            }

            h4{
                color: var(--nightblue);
                font-weight: 600;
                line-height: helpers.rem-calc(34);
                font-size: helpers.rem-calc(24);
                margin-bottom: 10px;

            }

            p{
                color: var(--grey);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
                margin-bottom: 54px;
            }
        }

    }
}    