/* =============
    Process
============= */
@use "../helpers";

#process {
    background-color: var(--white);

    // h1{
    //     color: var(--nightblue);
    // }

    p{
        color: var(--grey);
        font-weight: 600;
        line-height: helpers.rem-calc(28);
    }

    #package-container{
        .package1{
            background-color: var(--white);
            

            img {
                background-color: var(--lilywhite);
            }

            h4{
                color: var(--nightblue);
                font-weight: 600;
                line-height: helpers.rem-calc(34);
                font-size: helpers.rem-calc(24);

            }

            p{
                color: var(--grey);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
            }
        }

        .package2{
            background-color: var(--white);
            

            img {
                background-color: var(--lilywhite);
            }

            h4{
                color: var(--nightblue);
                font-weight: 600;
                line-height: helpers.rem-calc(34);
                font-size: helpers.rem-calc(24);

            }

            p{
                color: var(--grey);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
            }
        }

        .package3{
            background-color: var(--white);
            

            img {
                background-color: var(--lilywhite);
            }

            h4{
                color: var(--nightblue);
                font-weight: 600;
                line-height: helpers.rem-calc(34);
                font-size: helpers.rem-calc(24);

            }

            p{
                color: var(--grey);
                font-weight: 600;
                line-height: helpers.rem-calc(28);
            }
        }

    }
}    